/*-------------------------------------------*/
/*  関数設定
/*-------------------------------------------*/
// gray

// $grayHoverL: #f0f1f1;
// $grayHoverD:
$darkGray: #8c8d8d;
$gray: #acaeaf;
$lightGray: #cbcbcb;
$paleGray: #f0f1f1;
// blue
$blue: #5c9cd8;
$lightBlue: #83aed6;
// Other
$black: #000;
$white: #fff;
$red: #ff3547;
$orange: #fa8917;

// テーマ
$Success: #9ec22f;
$Danger: $red;
$Warning: $red;

/*-------------------------------------------*/
/*  文字サイズ
/*-------------------------------------------*/
$font-xxs: 0.5em;
$font-xs: 0.75em;
$font-sm: 0.875em;
$font-md: 1em;
$font-lg: 1.25em;
$font-xl: 1.5em;
$font-xxl: 1.75em;

/*-------------------------------------------*/
/*  メディアクエリ
/*-------------------------------------------*/
$xlarge-min: 1201px;
$xlarge: 1200px;
$large-min: 963px;
$large: 962px;
$medium-min: 769px;
$medium: 768px;
$small-min: 577px;
$small: 576px;

@mixin xlarge-min {
  @media (min-width: ($xlarge-min)) {
    @content;
  }
}
@mixin xlarge {
  @media (max-width: ($xlarge)) {
    @content;
  }
}
@mixin large-min {
  @media (min-width: ($large-min)) {
    @content;
  }
}
@mixin large {
  @media (max-width: ($large)) {
    @content;
  }
}
@mixin medium-min {
  @media (min-width: ($medium-min)) {
    @content;
  }
}
@mixin medium {
  @media (max-width: ($medium)) {
    @content;
  }
}
@mixin small-min {
  @media (min-width: ($small-min)) {
    @content;
  }
}
@mixin small {
  @media (max-width: ($small)) {
    @content;
  }
}

// 使い方
// @include small-min {
//     XXXX:XXXXXX;
// }
